
@{
    ViewBag.Title = "OrderSuceess";
}
<br />
<br />
<br />
<br />

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You For Your Order!</h1>
    <p class="lead"><strong>We`ll email you an Order confirmaion with details and tracking Info.</strong></p>
    
    
    <p class="lead">
        <a class="btn btn-outline-warning" href="@Url.Action("index", "Movie")">
            CONTINUE SHOPPING
        </a>
    </p>
</div>