
@{
    ViewBag.Title = "Index";
}

<div class="container content" style="margin:400px 50px 50px 50px">
    <br /><br />
    <br />
    <br />
    <br />
    <div class="container title">
        Order First Movie
        <div class="slider">
            <div>Now</div>
            <div>Today</div>
            <div>Free</div>
        </div>
    </div>
    <p>
        Movies are not just a way to have fun, but also a form of therapy.
    </p>
    <div>
        <a class="btn btn-outline-warning" href="@Url.Action("index","Movie")">START SHOPPING NOW</a>
    </div>
    <br />
    <br /><br /><br />
    <br /><br />
    
</div>


