@*@model BetaMovieStore.Models.Database.Customer*@
@{
    ViewBag.Title = "Statistics";
}

<div class="container movie-details">
    <div class="row">

        <div class="col-md-6 left-box">
            <h1 style="color:paleturquoise">Tenent</h1>
            <p>
                Tenet (formerly stylized as TENƎꞱ) is a 2020 science fiction spy action thriller film directed,
                written, and co-produced (with his wife Emma Thomas) by Christopher Nolan.
                The film follows a CIA agent who learns how to manipulate the flow of time to prevent an attack from the future that threatens to annihilate the present world.
                Nolan continued his relationship with Warner Bros. and Syncopy for both the production and the distribution of the film.
            </p>
            <p style="color:paleturquoise"> Cast:</p>
            <div class="casting">
                <img src="~/Content/Images/John David.jpg" />
                <img src="~/Content/Images/Robert Pattinson.jpg" />
                <img src="~/Content/Images/Elizabeth Debicki.jpg" />
                <img src="~/Content/Images/Clemence Poesy.jpg" />
                <img src="~/Content/Images/Aaron Taylor.jpg" />
            </div>
            <a href="#" class="play-button"><i class="fa-solid fa-circle-play"></i> Watch Now    </a>
            <a href="#" class="download-button"><i class="fa-solid fa-circle-down"></i> Download  </a>
        </div>
        <div class="col-md-5 offset-1 text-center">
            <img src="~/Content/Images/Tenent.jpg" class="movie-img">

        </div>

    </div>
    <div class="container popular-movies">
        <h3>Popular Movies</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6">
                        <img src="~/Content/Images/SpiderMan.jpg" />
                    </div>
                    <div class="col-6">
                        <img src="~/Content/Images/The hobbit.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6">
                        <img src="~/Content/Images/interstelarN.jpg" />

                    </div>
                    <div class="col-6">
                        <img src="~/Content/Images/Iron Man.jpg" />
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6">
                        <img src="~/Content/Images/puplfiction.jpg" />
                    </div>
                    <div class="col-6">
                        <img src="~/Content/Images/wolf of wall street.jpg" />
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="container new-movies">
        <br />
        <h3>New Movies</h3>
        <div class="row offset-1">
            <div class="col-md-2">
                <img src="~/Content/Images/puplfiction.jpg" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/SpiderMan.jpg" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/Tenent.jpg" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/wolf of wall street.jpg" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/interstelarN.jpg" />

            </div>

        </div>





    </div>
    <div class="container old-movies">
        <br />
        <h3>Old Movies</h3>
        <div class="row offset-1">
            <div class="col-md-2">
                
                <img src="~/Content/Images/_The_Secrets_of_Dumbledore.png" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/god father.jpg" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/old movie 1.jpg" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/The-Amityville-Uprising.jpg" />
            </div>
            <div class="col-md-2">
                <img src="~/Content/Images/Titanic.jpg" />

            </div>

        </div>
        <div class="container cheap-movies">
            <br />
            <h3>Cheap Movies</h3>
            <div class="row offset-1">
                <div class="col-md-2">
                    <img src="~/Content/Images/Cheap movie 1.jpg" />
                </div>
                <div class="col-md-2">
                    <img src="~/Content/Images/Cheap movie 2.jpg" />
                </div>
                <div class="col-md-2">
                    <img src="~/Content/Images/Cheap movie 3.jpg" />
                </div>
                <div class="col-md-2">
                    <img src="~/Content/Images/cheap movie 4.jpg" />
                </div>
                <div class="col-md-2">
                    <img src="~/Content/Images/cheap movie 5.jpg" />

                </div>

            </div>





        </div>
        @*<div class="container customer-best" style="color:azure">

            @Model.FirstName
            

        </div>*@



    


    </div>



</div>
